@using AntDesign
@using QuanLySinhVien.Data
@using QuanLySinhVien.Service


@inject IMessageService _message
@inject NavigationManager Navigation
    <Form Model="EditModel">
        <Template style="height:90%">
            <Row Gutter="16">
                <AntDesign.Col Span="6">

                </AntDesign.Col>
                <AntDesign.Col Span="20">
                    <Text>Họ tên:</Text>
                    <Input @bind-Value="@EditModel.Name"  Style="text-align: center;"/>
                </AntDesign.Col>
            <AntDesign.Col Span="20">
                <Text>Ngày sinh:</Text>
                <DatePicker @bind-Value="@EditModel.Birth" Style="text-align: center;" />
            </AntDesign.Col>
          
          
           
            </Row>
           
            <br />
            <Row Gutter="16">
                <AntDesign.Col Span="8">
                    <Text>Lớp học:</Text>
                    <Input @bind-Value="@EditModel.Class" />
                </AntDesign.Col>
              
                <AntDesign.Col Span="8">
                    <Text>Điểm tích lũy:</Text>
                    <Input @bind-Value="@EditModel.Score"  />
                </AntDesign.Col>
                
            </Row>
            <br />
            <br />
            <br />
            <Row>
                <AntDesign.Col Span="7">

                </AntDesign.Col>
                <AntDesign.Col Span="12">
                    <Button Type="default" OnClick="Cancel">Hủy bỏ</Button>
                    <Button Type="primary" OnClick="UpdateSinhVien">Đồng ý</Button>
                </AntDesign.Col>
            </Row>
        </Template>
    </Form>

   